<section class="container breadcrumbs-custom-inset">
  <div
    class="breadcrumbs-custom"
    style="background-image: url(./assets/images/bg-elements.jpg)"
  >
    <div class="container">
      <h1 class="breadcrumbs-custom-title">Testimonial</h1>
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">Home</a></li>
        <li class="active">Testimonial</li>
      </ul>
    </div>
    <div class="box-position"></div>
  </div>
</section>
<div class="ptb-100">
  <div class="faq-section ptb-100">
    <section class="client-section">
      <div class="container">
        <div class="section-title">
          <span>Testimonial</span>
          <h3>What Our Happy Client Say</h3>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="owl-carousel owl-theme testim_wrp shadow-design">
              <ng-container *ngFor="let testimonial of testimonialData">
                <div class="item">
                  <div class="testimonial-single-item">
                    <div class="testimonial-image">
                      <img
                        src="../../assets/images/client-image/1.jpg"
                        alt="image"
                      />
                    </div>
                    <div class="testimonial-content-text">
                      <h3>{{ testimonial.title.rendered }}</h3>
                      <span>{{ testimonial.acf.designation }}</span>
                      <!-- <div class="icon">
                        <i class="flaticon-quote"></i>
                      </div> -->
                      <p>
                        {{ testimonial.content.rendered }}
                      </p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
