<section class="breadcrumbs-custom-inset">
  <div
    class="breadcrumbs-custom"
    style="background-image: url(./assets/images/bg-elements.jpg)"
  >
    <div class="container">
      <h2 class="breadcrumbs-custom-title">Our Blog</h2>
      <ul class="breadcrumbs-custom-path">
        <li><a href="#!">Home</a></li>
        <li class="active">Our Blog</li>
      </ul>
    </div>
    <div class="box-position"></div>
  </div>
</section>
<section class="blog-page-area ptb-100 our-blog-page">
  <div class="blog-section pd_auto">
    <div class="container">
      <div class="row">
        <div class="seventy">
          <router-outlet></router-outlet>
        </div>
        <div class="thirty team-bg-color">
          <div class="categories">
            <h2 class="archive-head">Categories</h2>
            <ul>
              <li>
                <a href=""> <span>Business</span><span>(05)</span> </a>
              </li>
              <li>
                <a href=""> <span>Privacy</span><span>(08)</span> </a>
              </li>
              <li>
                <a href=""> <span>Technology</span><span>(15)</span> </a>
              </li>
              <li>
                <a href=""> <span>Tips</span><span>(10)</span> </a>
              </li>
              <li>
                <a href=""> <span>Uncategorized</span><span>(05)</span> </a>
              </li>
            </ul>
          </div>
          <div class="recent-blog">
            <h2 class="archive-head">Recent Blog</h2>
            <ng-container *ngFor="let resentBlog of resentblogData">
              <div class="d-flex blog-wrp">
                <figure>
                  <img
                    [src]="
                      resentBlog.featured_media
                        ? resentBlog.featured_media
                        : '/assets/images/blog-default.jpg'
                    "
                    alt="image"
                  />
                </figure>
                <div class="recent-blog-item">
                  <a routerLink="/blog/{{ resentBlog.slug }}">
                    {{ resentBlog.title.rendered }}
                  </a>
                  <p>{{ resentBlog.date | date: "longDate" }}</p>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="archive-blog">
            <h2 class="archive-head">Archives</h2>
            <div id="accordion">
              <div class="card">
                <div class="card-header archive-years" id="headingOne">
                  <h5 class="mb-0 years-of-blog">
                    <button
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      2021
                    </button>
                  </h5>
                </div>

                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordion"
                >
                  <div class="card-body years-body">
                    <div class="categories">
                      <ul>
                        <li>
                          <a href="">
                            <span>Business</span><span>(05)</span>
                          </a>
                        </li>
                        <li>
                          <a href=""> <span>Privacy</span><span>(08)</span> </a>
                        </li>
                        <li>
                          <a href="">
                            <span>Technology</span><span>(15)</span>
                          </a>
                        </li>
                        <li>
                          <a href=""> <span>Tips</span><span>(10)</span> </a>
                        </li>
                        <li>
                          <a href="">
                            <span>Uncategorized</span><span>(05)</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header archive-years" id="headingTwo">
                  <h5 class="mb-0 years-of-blog">
                    <button
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      2020
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordion"
                >
                  <div class="card-body years-body">
                    <div class="categories">
                      <ul>
                        <li>
                          <a href="">
                            <span>Business</span><span>(05)</span>
                          </a>
                        </li>
                        <li>
                          <a href=""> <span>Privacy</span><span>(08)</span> </a>
                        </li>
                        <li>
                          <a href="">
                            <span>Technology</span><span>(15)</span>
                          </a>
                        </li>
                        <li>
                          <a href=""> <span>Tips</span><span>(10)</span> </a>
                        </li>
                        <li>
                          <a href="">
                            <span>Uncategorized</span><span>(05)</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header archive-years" id="headingThree">
                  <h5 class="mb-0 years-of-blog">
                    <button
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      2019
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordion"
                >
                  <div class="card-body years-body">
                    <div class="categories">
                      <ul>
                        <li>
                          <a href="">
                            <span>Business</span><span>(05)</span>
                          </a>
                        </li>
                        <li>
                          <a href=""> <span>Privacy</span><span>(08)</span> </a>
                        </li>
                        <li>
                          <a href="">
                            <span>Technology</span><span>(15)</span>
                          </a>
                        </li>
                        <li>
                          <a href=""> <span>Tips</span><span>(10)</span> </a>
                        </li>
                        <li>
                          <a href="">
                            <span>Uncategorized</span><span>(05)</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="widget-area">
            <h2 class="archive-head">Tags</h2>
            <div class="tagcloud">
              <a href="#">IT <span class="tag-link-count"> (3)</span></a>
              <a href="#">Crimso <span class="tag-link-count"> (3)</span></a>
              <a href="#">Games <span class="tag-link-count"> (2)</span></a>
              <a href="#">Travel <span class="tag-link-count"> (1)</span></a>
              <a href="#">Tips <span class="tag-link-count"> (2)</span></a>
              <a href="#">Smart <span class="tag-link-count"> (1)</span></a>
              <a href="#">Marketing <span class="tag-link-count"> (1)</span></a>
              <a href="#">Fashion <span class="tag-link-count"> (2)</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
