<section class="breadcrumbs-custom-inset" *ngIf="commonData">
  <div
    class="breadcrumbs-custom"
    style="background-image: url(./assets/images/bg-elements.jpg)"
  >
    <div class="container">
      <h1 class="breadcrumbs-custom-title">
        {{ commonData.title.rendered | titlecase }}
      </h1>
      <ul class="breadcrumbs-custom-path">
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Web-development</a></li>
        <li><a href="#!">Php-development</a></li>
        <li class="active">{{ commonData.title.rendered }}</li>
      </ul>
    </div>
    <div class="box-position"></div>
  </div>
</section>

<p *ngIf="commonData" [innerHtml]="commonData.content.rendered"></p>
<div class="align-items-center">
  <app-lets-connect></app-lets-connect>
</div>
