<!-- banner area -->

<div class="main-banner">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12">
            <div class="main-banner-content">
              <h1>Digital Agency with Excellence Service</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod
                tempor incididunt ut labore.
              </p>

              <div class="banner-btn">
                <a href="#" class="default-btn-one">More About Us</a>

                <a href="#play-video" class="video-btn popup-youtube">
                  Watch Video <i class="flaticon-play-button"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <img src="../../../assets/images/Banner-image.jpg" alt="" />
          </div>

          <!-- {/ If you want to change the video need to update below videoID /}
                  <ModalVideo
                    channel="youtube"
                    isOpen={this.state.isOpen}
                    videoId="_ysd-zHamjk"
                    onClose={() => this.setState({ isOpen: false })}
                  />

                  <div class="col-lg-6 col-md-12">
                    <div class="banner-image">
                      <ReactWOW animation="fadeInLeft" delay="0.5s">
                        <img
                          src=../../images/saas-image/arrow.png")}
                          alt="arrow"
                        />
                      </ReactWOW>

                      <ReactWOW animation="fadeInUp" delay="0.5s">
                        <img
                          src=../../images/saas-image/box1.png")}
                          alt="box1"
                        />
                      </ReactWOW>

                      <ReactWOW animation="fadeInLeft" delay="0.5s">
                        <img
                          src=../../images/saas-image/boy1.png")}
                          alt="boy1"
                        />
                      </ReactWOW>

                      <ReactWOW animation="zoomIn" delay="0.5s">
                        <img
                          src=../../images/saas-image/boy2.png")}
                          alt="boy2"
                        />
                      </ReactWOW>

                      <ReactWOW animation="bounceIn" delay="0.5s">
                        <img
                          src=../../images/saas-image/boy3.png")}
                          alt="boy3"
                        />
                      </ReactWOW>

                      <ReactWOW animation="fadeInDown" delay="0.5s">
                        <img
                          src=../../images/saas-image/digital-screen.png")}
                          alt="digital-screen"
                        />
                      </ReactWOW>

                      <ReactWOW animation="zoomIn" delay="0.5s">
                        <img
                          src=../../images/saas-image/filter1.png")}
                          alt="filter1"
                        />
                      </ReactWOW>

                      <ReactWOW animation="fadeInUp" delay="0.5s">
                        <img
                          src=../../images/saas-image/filter2.png")}
                          alt="filter2"
                        />
                      </ReactWOW>

                      <ReactWOW animation="rotateIn" delay="0.5s">
                        <img
                          src=../../images/saas-image/filter3.png")}
                          alt="filter3"
                        />
                      </ReactWOW>

                      <ReactWOW animation="fadeInUp" delay="0.5s">
                        <img
                          src=../../images/saas-image/girl1.png")}
                          alt="girl1"
                        />
                      </ReactWOW>

                      <ReactWOW animation="zoomIn" delay="0.5s">
                        <img
                          src=../../images/saas-image/girl2.png")}
                          alt="girl2"
                        />
                      </ReactWOW>

                      <ReactWOW animation="fadeInRight" delay="0.5s">
                        <img
                          src=../../images/saas-image/monitor.png")}
                          alt="monitor"
                        />
                      </ReactWOW>

                      <ReactWOW animation="zoomIn" delay="0.5s">
                        <img
                          src=../../images/saas-image/4.png")}
                          alt="4"
                        />
                      </ReactWOW>

                      <ReactWOW animation="zoomIn" delay="0.5s">
                        <img
                          src=../../images/saas-image/7.png")}
                          alt="7"
                        />
                      </ReactWOW>

                      {/ Main Image /}
                      <ReactWOW animation="zoomIn" delay="0.5s">
                        <img
                          src="../../images/saas-image/main-image.png"
                          alt="main-image.png"
                        />
                      </ReactWOW>
                    </div>
                  </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- {/ Shape Images /} -->
  <div class="shape-img1">
    <img src="../../assets/images/shape/express-jsLogo.png" alt="image" />
  </div>
  <div class="shape-img2">
    <img src="../../assets/images/shape/angular-jsLogo.png" alt="image" />
  </div>
  <div class="shape-img3">
    <img src="../../assets/images/shape/express-jsLogo.png" alt="image" />
  </div>
  <div class="shape-img4">
    <img src="../../assets/images/shape/" alt="image" />
  </div>
  <div class="shape-img5">
    <img src="../../assets/images/shape/icon5.png" alt="image" />
  </div>
  <div class="shape-img6">
    <img src="../../assets/images/shape/icon6.png" alt="image" />
  </div>
  <div class="shape-img7">
    <img src="../../assets/images/shape/2.png" alt="image" />
  </div>
  <div class="shape-img8">
    <img src="../../assets/images/shape/icon3.png" alt="image" />
  </div>
  <div class="shape-img9">
    <img src="../../assets/images/shape/7.png" alt="image" />
  </div>
  <div class="shape-img10">
    <img src="../../assets/images/shape/5.png" alt="image" />
  </div>
  <div class="shape-img11">
    <img src="../../assets/images/shape/11.png" alt="image" />
  </div>
</div>

<!-- featured Content Section -->

<div
  *ngIf="featuredContentData"
  [innerHtml]="featuredContentData.content.rendered"
></div>

<!-- AboutContent -->
<div>
  <p
    *ngIf="aboutContentData"
    [innerHtml]="aboutContentData.content.rendered"
  ></p>
</div>
<!-- service -->
<p
  *ngIf="serviceContentData"
  [innerHtml]="serviceContentData.content.rendered"
></p>

<!-- WhyChooseUs -->

<section class="choose-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="choose-content-area">
          <span>Why Choose Us</span>
          <h3>Outstanding Digital Experience</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
            ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel facilisis.
          </p>

          <div class="choose-text">
            <i class="flaticon-check-mark"></i>
            <h4>First Working Process</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor abore et dolore magna aliqua.
            </p>
          </div>

          <div class="choose-text">
            <i class="flaticon-check-mark"></i>
            <h4>Dedicated Team Member</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor abore et dolore magna aliqua.
            </p>
          </div>

          <div class="choose-text">
            <i class="flaticon-check-mark"></i>
            <h4>24/7 Support</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor abore et dolore magna aliqua.
            </p>
          </div>

          <div class="choose-btn">
            <a class="default-btn-one">Discover More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="choose-image">
          <img src="../../assets/images/choose-image.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Project Content -->
<p
  *ngIf="ourProjectContentData"
  [innerHtml]="ourProjectContentData.content.rendered"
></p>

<!-- Client Say -->

<section className="testimonial-section ptb-100">
  <!-- TESTIMONIALS -->
  <section class="testimonials">
    <div class="container">
      <div class="section-title-2nd">
        <h3>Client & <strong>Testimonials</strong></h3>
        <p>Learn what our clients say about our services</p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel">
            <!--TESTIMONIAL 1 -->
            <div class="item">
              <div class="shadow-effect">
                <p>
                  Dramatically maintain clicks-and-mortar solutions without
                  functional solutions. Completely synergize resource taxing
                  relationships via premier niche markets. Professionally
                  cultivate.
                </p>
                <div class="designation-details">
                  <span>Anugag Jain</span>
                  <p><strong>Uneecops Solar Pvt. Ltd.-</strong> Director</p>
                </div>
              </div>
            </div>
            <!--END OF TESTIMONIAL 1 -->
            <!--TESTIMONIAL 2 -->
            <div class="item">
              <div class="shadow-effect">
                <p>
                  Dramatically maintain clicks-and-mortar solutions without
                  functional solutions. Completely synergize resource taxing
                  relationships via premier niche markets. Professionally
                  cultivate.
                </p>
                <div class="designation-details">
                  <span>Anugag Jain</span>
                  <p><strong>Uneecops Solar Pvt. Ltd.-</strong> Director</p>
                </div>
              </div>
            </div>
            <!--END OF TESTIMONIAL 2 -->
            <!--TESTIMONIAL 3 -->
            <div class="item">
              <div class="shadow-effect">
                <p>
                  Dramatically maintain clicks-and-mortar solutions without
                  functional solutions. Completely synergize resource taxing
                  relationships via premier niche markets. Professionally
                  cultivate.
                </p>
                <div class="designation-details">
                  <span>Anugag Jain</span>
                  <p><strong>Uneecops Solar Pvt. Ltd.-</strong> Director</p>
                </div>
              </div>
            </div>
            <!--END OF TESTIMONIAL 3 -->
          </div>
          <div class="info-direction">
            <img src="../../../assets/images/swipe-left.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF TESTIMONIALS -->
</section>
<!-- Partner Logos -->
<section class="trusted-client ptb-100">
  <div class="container-fluid no-padding">
    <div class="container">
      <div class="section-title-2nd">
        <h3><strong>Trusted By</strong> The Best In The Industry</h3>
        <p>
          Uneecops is a brand that inspires trust and admiration amongst the
          industry leaders
        </p>
      </div>
    </div>
    <ul id="customers-list">
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/1.jpg" alt="image" />
      </li>
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/2.jpg" alt="image" />
      </li>
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/4.jpg" alt="image" />
      </li>
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/5.jpg" alt="image" />
      </li>
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/6.jpg" alt="image" />
      </li>
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/7.jpg" alt="image" />
      </li>
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/8.jpg" alt="image" />
      </li>

      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/9.jpg" alt="image" />
      </li>
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/10.jpg" alt="image" />
      </li>
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/final-logo-2.png" alt="image" />
      </li>
      <li class="valign-wrapper center-align">
        <img src="./assets/images/client-logo/logo-alig.png" alt="image" />
      </li>
    </ul>
  </div>
</section>
<!-- Analysis Form -->
<section class="analysis-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="analysis-image">
          <img src="../../assets/images/analysis-image.png" alt="image" />
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="analysis-area-content">
          <span>Analysis</span>
          <h3>Get Free SEO Analysis</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
        </div>

        <form class="contactForm">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  placeholder="Your Name *"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  name="text"
                  id="text"
                  class="form-control"
                  placeholder="Email *"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  id="phone"
                  class="form-control"
                  placeholder="Phone *"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  id="website"
                  class="form-control"
                  placeholder="Website *"
                />
              </div>
            </div>
          </div>

          <div class="send-btn">
            <button type="submit" class="default-btn-one">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Latest Blog -->

<section class="blog-page-area home-blog-aha">
  <div class="container">
    <div class="section-title blog-of-aha blog-page-area-ah">
      <h3>AHA Teachnocrats Blog</h3>
      <p>
        We have compiled more than a decade's worth of business, design, and
        technology insights. Explore the Think Blog to see what the Think
        Company team is thinking about.
      </p>
    </div>
    <div class="row">
      <ng-container *ngFor="let blogdata of blogData">
        <div class="col-lg-4 col-md-6">
          <div class="blog-item">
            <div class="blog-image">
              <a>
                <img src="{{ blogdata.featured_media }}" alt="image" />
              </a>
            </div>

            <div class="single-blog-item">
              <ul class="date">
                <!-- <li>{{ blogdata.modified }}</li>
                <li>{{ blogdata.modified }}</li> -->
                <li>{{ blogdata.date | date: "dd" }}</li>
                <li>{{ blogdata.date | date: "MMMM" }}</li>
              </ul>

              <ul class="blog-list">
                <li>
                  <a> <i class="fa fa-user-alt"></i> By admin </a>
                </li>
                <li><i class="far fa-comments"></i> 3 Comments</li>
              </ul>

              <div class="blog-content">
                <a>
                  <h3>{{ blogdata.title.rendered }}</h3>
                </a>

                <div innerHTML="{{ blogdata.excerpt.rendered }}"></div>
              </div>

              <div class="blog-btn">
                <a class="blog-btn-one" routerLink="/blog/{{ blogdata.slug }}"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
