<div class="container">
  <div class="align-items-center">
    <form id="contactForm" [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="form-group">
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Name"
              formControlName="name"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-group">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          name="phone"
          class="form-control"
          placeholder="Phone"
          formControlName="phone"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="website"
          class="form-control"
          placeholder="Your Website"
          formControlName="website"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Instant Messenger"
          disabled=""
        /><select
          class="form-control"
          name="instant_messenger"
          formControlName="instant_messenger"
        >
          <option value="Skype">Skype</option>
          <option value="Hangout">Hangout</option>
        </select>
      </div>
      <div class="form-group">
        <input
          type="text"
          name="instant_messenger_details"
          class="form-control"
          placeholder="Instant Messenger Detail"
          formControlName="instant_messenger_details"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Budget"
          disabled=""
        /><select class="form-control" name="budget" formControlName="budget">
          Budget
          <option value="Up to $299">Up to $299</option>
          <option value="$299 to $599">$299 to $599</option>
          <option value="$599 to $999">$599 to $999</option>
          <option value="$999 to Above">$999 to Above</option>
        </select>
      </div>
      <div class="form-group">
        <input
          type="text"
          name="projectdate"
          class="form-control"
          placeholder="Deadline of project (if any)"
          formControlName="projectdate"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="comments"
          class="form-control"
          placeholder="Comments"
          formControlName="comments"
        />
      </div>
      <div class="send-btn">
        <button type="submit" class="send-btn-one">Send Message</button>
      </div>
    </form>
  </div>
</div>
