<!-- <div
  class="inner-comn-area overlay"
  style="
    background-image: url(./assets/images/diwan-breadcrumbs.jpg);
    background-color: #6962ab;
  "
>
  <div class="container" *ngIf="commonData">
    <div class="breadcrumbs-area">
      <div class="verticalyMiddle">
        <div class="default-heading">
          <h2>{{ commonData.title.rendered }}</h2>
        </div>
        <div class="breadcrumbs">
          <a href="#!">Home</a><span>{{ commonData.title.rendered }}</span>
        </div>
      </div>
    </div>
  </div>
</div> -->

<section class="breadcrumbs-custom-inset" *ngIf="commonData">
  <div
    class="breadcrumbs-custom"
    style="background-image: url(./assets/images/bg-elements.jpg)"
  >
    <div class="container">
      <h1 class="breadcrumbs-custom-title">
        {{ commonData.title.rendered | titlecase }}
      </h1>
      <ul class="breadcrumbs-custom-path">
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Web-development</a></li>
        <li><a href="#!">Web-designing</a></li>
        <li class="active">{{ commonData.title.rendered }}</li>
      </ul>
    </div>
    <div class="box-position"></div>
  </div>
</section>
<div class="ptb-100">
  <p *ngIf="commonData" [innerHtml]="commonData.content.rendered"></p>
</div>

<app-contact-us></app-contact-us>
