<section class="contact-area ptb-100">
  <div class="container">
    <!-- {/* Contact Info */} -->
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="contact-box">
          <div class="icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="content">
            <h4>Phone / Fax</h4>
            <p>+91-8510044115</p>
            <p>+44 2039830600</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="contact-box">
          <div class="icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="content">
            <h4>E-mail</h4>
            <p>info@ahatechnocrats.com</p>
            <p>sales@ahatechnocrats.com</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="contact-box">
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="content">
            <h4>Location</h4>
            <p>D-52, Sector 7,Noida, Uttar Pradesh,India- 201301</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="contact-box">
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="content">
            <h4>Our UK Business Address</h4>
            <p>Olympic house 28-42 Clements Road, Ilford, London, UK IG1 1BA</p>
          </div>
        </div>
      </div>
    </div>

    <!-- {/* Contact Form */} -->
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="contact-text">
          <h3>Get in Touch</h3>
          <p>
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Etiam tempus magna vel turpis pharetra
            dictum.
          </p>
          <p>
            Sed blandit tempus purus, sed sodales leo rutrum vel. Nam vulputate
            ipsum ac est congue, eget commodo magna lobortis.
          </p>

          <ul class="social-links">
            <li>
              <a>
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a>
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a>
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a>
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a>
                <i class="fab fa-pinterest"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <form
          id="contactForm"
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  placeholder="Name"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Email"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="skype"
                  placeholder="Skype"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  formControlName="phoneNo"
                  placeholder="Phone"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <select
              class="form-control"
              placeholder="Choose your Services"
              formControlName="services"
              name="services"
            >
              Services
              <option selected="" value="">Choose your Services</option>
              <option value="Web Design">Web Design</option>
              <option value="Mobile Application">Mobile Application</option>
              <option value="SEO/Digital Marketing">
                SEO/Digital Marketing
              </option>
              <option value="Support/Any Other Services">
                Support/Any Other Services
              </option>
            </select>
          </div>

          <div class="form-group">
            <textarea
              name="message"
              class="form-control"
              formControlName="message"
              placeholder="Your Message"
            ></textarea>
          </div>

          <div class="send-btn">
            <button type="submit" class="send-btn-one">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
