/*
Flaticon icon font: Flaticon
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-play-button:before {
  content: "\f100";
}
.flaticon-seo:before {
  content: "\f101";
}
.flaticon-analytics:before {
  content: "\f102";
}
.flaticon-laptop:before {
  content: "\f103";
}
.flaticon-analysis-1:before {
  content: "\f104";
}
.flaticon-plus:before {
  content: "\f105";
}
.flaticon-landing-page:before {
  content: "\f106";
}
.flaticon-contract:before {
  content: "\f107";
}
.flaticon-goal:before {
  content: "\f108";
}
.flaticon-data-recovery:before {
  content: "\f109";
}
.flaticon-check-mark:before {
  content: "\f10a";
}
.flaticon-analysis-2:before {
  content: "\f10b";
}
.flaticon-hand:before {
  content: "\f10c";
}
.flaticon-digital-marketing:before {
  content: "\f10d";
}
.flaticon-email:before {
  content: "\f10e";
}
.flaticon-network:before {
  content: "\f10f";
}
.flaticon-facebook-logo:before {
  content: "\f110";
}
.flaticon-twitter:before {
  content: "\f111";
}
.flaticon-paypal:before {
  content: "\f112";
}
.flaticon-linkedin-letters:before {
  content: "\f113";
}
.flaticon-quote:before {
  content: "\f114";
}
.flaticon-call-answer:before {
  content: "\f115";
}
.flaticon-envelope:before {
  content: "\f116";
}
.flaticon-placeholder-filled-point:before {
  content: "\f117";
}
.flaticon-application:before {
  content: "\f118";
}
.flaticon-left-quote:before {
  content: "\f119";
}
