<div class="navigation-wrap start-header start-style">
  <div class="aha_topNav">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="d-flex top-nav-list">
            <li>
              <a href="mailto:info@ahatechnocrats.com">
                <i class="fas fa-envelope"></i> info@ahatechnocrats.com
              </a>
            </li>
            <li>
              <Link />
              <a href="tel:+918510044115">
                <i class="fa fa-phone"></i> +91-8510044115
              </a>
            </li>
            <li>
              <a href="skype:mehrozalipasha?chat">
                <i class="fa fa-skype"></i> Talk to Us!
              </a>
            </li>
            <li>
              <a href="/contact"> Get a FREE Quote</a>
            </li>
            <li>
              <a href="/client-tools">Client Tools</a>
            </li>
            <li>
              <a href="/career">Careers</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="/"
            ><img src="../../../assets/images/aha-logo.png" alt=""
          /></a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto py-4 py-md-0 mega-dropdown-wrp">
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >About Us</a
                >
                <div class="dropdown-menu sigle-menu">
                  <a class="dropdown-item" [routerLink]="['/about-us/']"
                    >About us
                  </a>
                  <a class="dropdown-item" [routerLink]="['/career']">Career</a>
                  <a class="dropdown-item" [routerLink]="['/testimonials']"
                    >Testimonial</a
                  >
                </div>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mega-dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Web Developedment</a
                >
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-sm-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                      <h2><a href="#">Web Development</a></h2>
                      <ul>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/laravel-developer/'
                            ]"
                            >Laravel Developers
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/mobile-website-developer/'
                            ]"
                            >Mobile website Development
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/yii-development/'
                            ]"
                            >Yii Development
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/zend-developer/'
                            ]"
                            >Zend Development</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/vuejs-developer/'
                            ]"
                            >Vue Js</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/wordpress-developer/'
                            ]"
                            >WordPress Development</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/magento-developer/'
                            ]"
                            >Magento</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="['/web-development/php-development']"
                            >Php Development
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/customised-php/'
                            ]"
                            >Customized PHP
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/drupal/'
                            ]"
                            >Drupal</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/cakephp/'
                            ]"
                            >CakePhp</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/codeigniter/'
                            ]"
                            >CodeIgniter</a
                          >
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/smarty/'
                            ]"
                            >Smarty</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/web-development/php-development/open-cart/'
                            ]"
                            >OpenCart</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                      <h2><a href="#">Web Designing</a></h2>
                      <ul>
                        <li>
                          <a
                            [routerLink]="[
                              '/web-development/web-designing/bootstrap-developer'
                            ]"
                            class="dropdown-item"
                            >Twitter Bootstrap</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/web-development/web-designing/html-5'
                            ]"
                            class="dropdown-item"
                            >HTML5</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/web-development/web-designing/responsive-website-designer'
                            ]"
                            class="dropdown-item"
                            >Responsive Website</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/web-development/web-designing/designshop'
                            ]"
                            class="dropdown-item"
                            >Design Shop</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/web-development/web-designing/photoshop'
                            ]"
                            class="dropdown-item"
                            >Photoshop</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/web-development/web-designing/corel-draw'
                            ]"
                            class="dropdown-item"
                            >Corel Draw</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/web-development/web-designing/web2.0'
                            ]"
                            class="dropdown-item"
                            >Web 2.0</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/web-development/web-designing/mobile-apps-design'
                            ]"
                            class="dropdown-item"
                            >Mobile Apps Design</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                      <h2><a href="#">Outsourcing</a></h2>
                      <ul>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="['/outsourcing/it-outsourcing']"
                            >Outsourcing
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                      <h2><a href="#">Hosting Partners</a></h2>
                      <ul>
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="['/web-development/hosting-partners']"
                            >Hosting Partners
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Mobile Apps</a
                >
                <div class="dropdown-menu sigle-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="[
                        '/mobile-applications/android-development'
                      ]"
                      >Android App Development</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/mobile-applications/iphone-development']"
                      >iPhone App Development</a
                    >
                  </li>
                  <li>
                    <a
                      [routerLink]="['/mobile-applications']"
                      class="dropdown-item"
                      >Hybrid Mobile Apps</a
                    >
                  </li>
                </div>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mega-dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Seo Services</a
                >
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-sm-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                      <h2><a href="#">SEO Services</a></h2>
                      <ul>
                        <li>
                          <a
                            [routerLink]="[
                              '/seo-services/on-page-optimization'
                            ]"
                            class="dropdown-item"
                            >On-Page Optimisation</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/seo-services/off-page-optimization'
                            ]"
                            class="dropdown-item"
                            >Off-Page Optimization</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="['/seo-services/link-building']"
                            class="dropdown-item"
                            >Link Building</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="['/seo-services/local-listing']"
                            class="dropdown-item"
                            >Local Listing</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/seo-services/google-analytics-and-webmaster'
                            ]"
                            class="dropdown-item"
                            >Google Analytics And Webmaster</a
                          >
                        </li>
                        <li>
                          <a
                            [routerLink]="[
                              '/seo-services/panda-penguin-recovery'
                            ]"
                            class="dropdown-item"
                            >Panda Penguin Recovery</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                      <h2><a href="#">Internet Marketing Services</a></h2>
                      <ul>
                        <li>
                          <a
                            title="Pay Per Click"
                            [routerLink]="['/seo-services/pay-per-click']"
                            class="waves-effect waves-light dropdown-item"
                            >Pay Per Click</a
                          >
                        </li>
                        <li>
                          <a
                            title="Social Media Optimizations"
                            [routerLink]="[
                              '/seo-services/social-media-optimization'
                            ]"
                            class="waves-effect waves-light dropdown-item"
                            >Social Media Optimizations</a
                          >
                        </li>
                        <li>
                          <a
                            title="Email Marketing"
                            [routerLink]="['/seo-services/email-marketing']"
                            class="waves-effect waves-light dropdown-item"
                            >Email Marketing</a
                          >
                        </li>
                        <li>
                          <a
                            title="Google AdSence"
                            [routerLink]="['/seo-services/google-adsence']"
                            class="waves-effect waves-light dropdown-item"
                            >Google AdSence</a
                          >
                        </li>
                        <li>
                          <a
                            title="Content Writing Services"
                            [routerLink]="['/seo-services/content-writing']"
                            class="waves-effect waves-light dropdown-item"
                            >Content Writing Services</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                      <h2><a href="#">Our Packages</a></h2>
                      <ul>
                        <li>
                          <a
                            title="SEO Packages"
                            [routerLink]="['/seo-services/seo-packages']"
                            class="waves-effect waves-light dropdown-item"
                            >SEO Packages</a
                          >
                        </li>
                        <li>
                          <a
                            title="Why Us"
                            [routerLink]="['/seo-services/why-us']"
                            class="waves-effect waves-light dropdown-item"
                            >Why Us</a
                          >
                        </li>
                        <li>
                          <a
                            title="How We Do"
                            [routerLink]="['/seo-services/how-we-do']"
                            class="waves-effect waves-light dropdown-item"
                            >How We Do</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 minus-icon">
                <a class="nav-link" [routerLink]="['/portfolio']">Portfolios</a>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 minus-icon">
                <a class="nav-link" routerLink="/blog">Blog</a>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 minus-icon">
                <a class="nav-link" [routerLink]="['/contact-us']"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
