<!-- <div
  class="scroll-to-top"
  id="bacck2top"
  [ngClass]="{ 'show-scrollTop': windowScrolled }"
>
  <button
    type="button"
    class="btn scroll-btn active"
    data-toggle="button"
    aria-pressed="true"
    (click)="scrollToTop()"
  >
    <span class="fa fa-angle-double-up"></span>
  </button>
</div> -->
<div
  class="scroll-to-top"
  id="ui-to-top"
  [ngClass]="{ 'show-scrollTop': windowScrolled }"
>
  <button
    class="scroll-btn active"
    data-toggle="button"
    aria-pressed="true"
    (click)="scrollToTop()"
  >
    <i class="fas fa-chevron-up"></i>
  </button>
</div>
