<div class="container">
  <h2>Let's Connect</h2>

  <form id="contactForm" [formGroup]="letsConnect" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Name"
          />
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Email"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="skype"
        placeholder="Skype"
      />
    </div>
    <div class="form-group">
      <textarea
        name="message"
        class="form-control"
        placeholder="Your Message"
        formControlName="message"
      ></textarea>
    </div>

    <div class="send-btn">
      <button type="submit" class="send-btn-one">Send Message</button>
    </div>
  </form>
</div>
