<section class="container breadcrumbs-custom-inset">
  <div
    class="breadcrumbs-custom"
    style="background-image: url(./assets/images/bg-elements.jpg)"
  >
    <div class="container">
      <h1 class="breadcrumbs-custom-title">About Us</h1>
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">Home</a></li>
        <li class="active">About Us</li>
      </ul>
    </div>
    <div class="box-position"></div>
  </div>
</section>
<div class="ptb-100">
  <p *ngIf="aboutusData" [innerHtml]="aboutusData.content.rendered"></p>

  <div class="align-items-center">
    <app-lets-connect></app-lets-connect>
  </div>
</div>
