<div class="features-content-area section-title">
  <h3
    class="wow fadeInRight"
    style="visibility: visible; animation-name: fadeInRight"
  >
    Read Our Latest Blogs
  </h3>
</div>

<div class="row" *ngIf="blogListData">
  <ng-container
    *ngFor="
      let bloglist of blogListData
        | paginate: { itemsPerPage: 4, currentPage: p }
    "
  >
    <div class="col-lg-6 col-md-12">
      <div class="blog-item our-blog-item">
        <div class="blog-image">
          <a href="javascript:void(0)">
            <img
              class="img-fluid"
              [src]="
                bloglist.featured_media
                  ? bloglist.featured_media
                  : '/assets/images/blog-default.jpg'
              "
              alt="image"
            />
          </a>
        </div>
        <div class="single-blog-item">
          <ul class="date">
            <li>{{ bloglist.date | date: "dd-MMMM" }}</li>
          </ul>
          <ul class="blog-list">
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-user-alt"></i> {{ bloglist.admin }}</a
              >
            </li>
          </ul>
          <div class="blog-content">
            <a href="javascript:void(0)">
              <h3>{{ bloglist.title.rendered }}</h3>
            </a>
            <p [innerHtml]="bloglist && bloglist.excerpt.rendered"></p>
          </div>
          <div class="blog-btn">
            <a class="blog-btn-one" routerLink="/blog/{{ bloglist.slug }}"
              >Read More ⟶</a
            >
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="col-lg-12">
    <div class="blog-pagination text-center">
      <pagination-controls
        class="my-pagination"
        (pageChange)="p = $event"
        previousLabel="Prev"
        nextLabel="Next"
      ></pagination-controls>
    </div>
  </div>
</div>
