<footer class="footer-section pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer-area">
          <div class="footer-heading">
            <h3>About Us</h3>
          </div>

          <p>
            Services Add Real Value To Your Business: Aha Technocrats is an
            innovative leading web development, mobile application development
            and SEO Services providing company based in India that has the
            specialization and expertise in web development for various types
            like corporate website, Mobile websites, eCommerce websites, CMS
            website, and responsive websites to name a few. We have industry
            proven expertise in developing trendy, innovative mobile
            applications on various platforms like Android, Blackberry, iPhone,
            iPad, Windows and Facebook.
          </p>

          <ul class="footer-social">
            <li>
              <a class="bg-3955bc">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a class="bg-1da1f2">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a class="bg-004dff">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="bg-0273af">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="footer-item-area">
          <div class="footer-heading">
            <h3>Important Links</h3>
          </div>

          <ul class="footer-quick-links">
            <li>
              <a href="/about-us">About Us</a>
            </li>
            <li>
              <a>Services</a>
            </li>

            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="footer-item-area">
          <div class="footer-heading">
            <h3>Featured Service</h3>
          </div>

          <ul class="footer-quick-links">
            <li>
              <a>SEO Marketing</a>
            </li>
            <li>
              <a href="/seo-services">SEO Services</a>
            </li>
            <li>
              <a>Services</a>
            </li>
            <li>
              <a href="/seo-services/pay-per-click">Pay-Per-Click</a>
            </li>
            <li>
              <a href="/seo-services/social-media-optimization"
                >Social Media Optimizations</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="mb-30">
          <div class="footer-heading">
            <h3>Contact</h3>
          </div>

          <div class="footer-info-contact">
            <i class="flaticon-call-answer"></i>
            <h3>Phone</h3>
            <span>+91-8510044115</span>
          </div>

          <div class="footer-info-contact">
            <i class="flaticon-envelope"></i>
            <h3>Email</h3>
            <span>info[@]ahatechnocrats.com</span>
          </div>

          <div class="footer-info-contact">
            <i class="flaticon-placeholder-filled-point"></i>
            <h3>Address</h3>
            <span>
              D 52, 2nd Floor, Sector 07, Noida, Uttar Pradesh 201301
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- {/* Shape Images */} -->
  <div class="default-animation">
    <div class="shape-img1">
      <img src="../../../assets/images/shape/12.svg" alt="image" />
    </div>
    <div class="shape-img2">
      <img src="../../../assets/images/shape/13.svg" alt="image" />
    </div>
    <div class="shape-img3">
      <img src="../../../assets/images/shape/14.png" alt="image" />
    </div>
    <div class="shape-img4">
      <img src="../../../assets/images/shape/15.png" alt="image" />
    </div>
    <div class="shape-img5">
      <img src="../../../assets/images/shape/2.png" alt="image" />
    </div>
  </div>
</footer>

<!-- {/* Copyright footer */} -->
<div class="copyright-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <p>
          © 2021 AHA Technocrats. All Rights Reserved by
          <a href="https://https://www.ahatechnocrats.com/" target="_blank">
            AHA Technocrats
          </a>
        </p>
      </div>

      <div class="col-lg-6">
        <ul>
          <li>
            <a>Terms & Conditions</a>
          </li>
          <li>
            <a>Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
