<div class="features-content-area section-title">
  <h3>{{ blogDetailData && blogDetailData.title.rendered }}</h3>
</div>
<div class="about-us-first-section" *ngIf="blogDetailData">
  <div class="blog-images">
    <figure>
      <img
        class="img-fluid"
        [src]="
          blogDetailData.featured_media
            ? blogDetailData.featured_media
            : '/assets/images/blog-default.jpg'
        "
        alt="image"
      />
    </figure>
  </div>
  <div class="published_author">
    <div class="row">
      <div class="col-sm-6">
        <div class="Published">
          <span>Published on :</span>
          <a href="#">{{ blogDetailData.date | date: "dd-MMMM-YYYY" }}</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="share-wrp">
          <div class="author">
            <span>Author By :</span>
            <a href="#">Diwan Advocate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center mb-3">
    <!-- <div class="col-lg-6">
      <div class="article-tags">
        <span><i class="fas fa-bookmark"></i></span>
        <a href="#">Fashion,</a>
        <a href="#">Games,</a>
        <a href="#">Travel</a>
      </div>
    </div> -->
    <div class="col-lg-12">
      <div class="share-wrp">
        <div class="article-share">
          <div class="share-link">Share :</div>
          <div class="share-icons">
            <a href="#" target="_blank" class="slider-nav-item">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" target="_blank" class="slider-nav-item">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#" target="_blank" class="slider-nav-item">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" target="_blank" class="slider-nav-item">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p [innerHtml]="blogDetailData.content.rendered"></p>
</div>
