<div
  class="inner-comn-area overlay"
  style="
    background-image: url(./assets/images/diwan-breadcrumbs.jpg);
    background-color: #6962ab;
  "
>
  <div class="container">
    <div class="breadcrumbs-area">
      <div class="verticalyMiddle">
        <div class="default-heading">
          <h2>Career</h2>
        </div>
        <div class="breadcrumbs"><a href="/">Home</a><span>Career</span></div>
      </div>
    </div>
  </div>
</div>
<div class="ptb-100">
  <p *ngIf="careerData" [innerHtml]="careerData.content.rendered"></p>

  <div class="align-items-center">
    <app-lets-connect></app-lets-connect>
  </div>
</div>
